h1 {
  text-align:center;
}

.userCard {
  border:3px solid gray;
  max-width: 50rem;
  margin:auto;
  /* border-radius:30px; */
}
.userCardRow {
  display:flex;
  flex-flow:row wrap;
}
.userCardRow a{
  font-weight:normal;
}

.loginName{
  color:#333;
}

.userImage {
  border:2px solid cyan;
  order:-1;
}
.userImage img{
  width:200px;
}

.followerList {
  border:2px solid springgreen;
  background-color:honeydew;
  padding:4%;
}

.followerListRow {
  display:flex;
  flex-flow:row wrap;
  justify-content:space-between;
}
.followerList h3 {
  margin-bottom:1rem;
}

.follower {
  border:2px solid magenta;
  background-color:lavenderblush;
  width:100px;
}
.followerAvatar {
  width:100%;
}