.App {
  text-align: center;
}

.userCard {
  border:3px solid gray;
  max-width: 50rem;
  margin:auto;
}

.userImage {
  border:2px solid cyan;
  width:200px;
}
.fakeImage {
  background-color:lightcyan;
  height:100%;
  width:100%;
}

.followerList {
  border:2px solid springgreen;
  background-color:honeydew;
}
.followerListRow {
  display:flex;
  flex-flow:row wrap;
  justify-content:space-between;
  margin:5%;
}
.follower {
  border:2px solid magenta;
  background-color:lavenderblush;
  width:100px;
}
.followerAvatar {
  width:100%;
}